<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Traffic Violations - Dashboard</title>

    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Leaflet JS & CSS -->
    <!-- Leaflet-Choropleth JavaScript -->
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>    

    
    
    <script type="text/javascript" src="static/js/choropleth.js"></script>
    <!-- Plotly js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- reference stylesheet-->
    <link rel="stylesheet" href="../static/css/Styles1.css" media="screen">

  </head>

  <body>
    <!-- SITE HEADER _ START -->
  <div class="description-content-alt">
          <h1 text-align=center class="description-header-alt">Residential Energy Consumption - Prediction</h1>
          <!-- <img src = "../static/imgs/energy-saving-1.jpg" width = "50%"> -->
  </div>
  <!-- SITE HEADER _ END -->
  <!-- NAV Tabs Start -->
      <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" 
                  role="tab" aria-controls="nav-home" aria-selected="true">The Story</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" 
                  href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Predict Price</a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" 
                  href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Sample Data</a>
                  <!-- <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a> -->
                </div>
              </nav>
              <!-- START OF TAB CONTENTS -->
              <!-- <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent"> -->
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <!-- STATIC CHARTS ? TRENDS START -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class='tableauPlaceholder' id='viz1559673681243' style='position: relative'>
                      <noscript>
                        <a href='#'>
                          <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;RE&#47;RECS_Project_final&#47;RECEnergyConsumption_Story&#47;1_rss.png' style='border: none' />
                        </a></noscript>
                        <object class='tableauViz'  style='display:none;'>
                          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                          <param name='embed_code_version' value='3' /> 
                          <param name='site_root' value='' />
                          <param name='name' value='RECS_Project_final&#47;RECEnergyConsumption_Story' />
                          <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;RE&#47;RECS_Project_final&#47;RECEnergyConsumption_Story&#47;1.png' /> 
                          <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                          <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                          <param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object>
                        </div>                
                        <script type='text/javascript'>                    
                        var divElement = document.getElementById('viz1559673681243');                    
                        var vizElement = divElement.getElementsByTagName('object')[0];                    
                        vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
                        var scriptElement = document.createElement('script');                    
                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                   
                         vizElement.parentNode.insertBefore(scriptElement, vizElement);               
                       </script> 
                          <!-- End of Static portion -->
                </div>
                <!-- STATIC CHARTS ? TRENDS End -->
                <!-- DASHBOARD CHARTS ? TRENDS START -->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                       <!-- Start of Dynamic Portion -->
                       
                  <article class="description-content"> 
                  <div class="container" style="background-color:white;">                 
                   
                    <section class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <!-- Filter Form Start -->
                          <div class="row">
                              <div class="col-md-12">
                                <div class="form-group" style="font-size:12px; border-width: 1px;"> 
                                  <form>  
                                      <ul class="list-inline" id="filters">
                                      <li class="list-inline-item">
                                      <label for="year">Select Region</label>
                                      </li>
                                      <li class="list-inline-item"></li>
                                      <select type="select" id="region" name="region">
                                        <option value = "0" >All regions</option>
                                        <option value = "1" >Northeast</option>
                                        <option value = "2" >MidWest</option>
                                        <option value = "3" >South</option>
                                        <option value = "4" >West</option>
                                      </select>
                                      </li>
                                      <!-- <li class="list-inline-item"> -->
                                      <!-- <label for="policedist">Select a Police District</label> -->
                                      <!-- <select type="select" id="district" name="district">
                                          <option value = "0">All Districts</option>
                                      </select>
                                    </li> -->
                                    <li class="list-inline-item">
                                      <label for="year">Select Sq.Footage</label>
                                      </li>
                                    <li class="list-inline-item">
                                      <!-- <label for="violCat">Select a Violation Category</label> -->
                                      <select type="select" id="sqft" name="sqft">
                                          <!-- <option value = "0">Any sq. footage</option> -->
                                          <option value = "1">Less than 900 sq.ft</option>
                                          <option value = "2">Between 900 and 1500 sq.ft.</option>
                                          <option value = "3">Between 1500 and 2500 sq.ft.</option>
                                          <option value = "4">Between 2500 and 3500 sq.ft.</option>
                                          <option value = "5">Greater than 3500 sq.ft.</option>
                                      </select>
                                    </li>
                                    <li class="list-inline-item">
                                      <button id="filter-btn" type="submit" class="btn btn-sm" 
                          style="font-size:10px; background-color: steelblue;color:white;">Predict</button>
                          
                          <button id="clear-filter-btn" type="submit" class="btn btn-sm" 
                          style="font-size:10px; background-color: steelblue; color:white">Reset</button>
                                  </li>
                                </ul>
                              </div>
                              <hr/>
                              </div>
                          </div>
                          <!-- Filter form end -->
                          <!-- Dynamic charts Start -->
                          
                          <div class="row">
                                  <div class="w-75 col-xs-12 col-sm-12 col-md-12">
                                    <div class="card" style = "border:none;margin:1rem 0 0 0;" >
                                      <h5><strong>Prediction Results</strong></h5>
                                      <!-- bar chart displaying violation by district-->
                                      
                                      <!-- <img class="card-img-top" src="../static/imgs/plot3.PNG" alt="Card image cap"> -->
                                      <div class="card-body">
                                        <div id="resPredict"></div>   
                                      </div>
                                  </div>
                                  </div>
                                  
                          </div>
                      </div>
                        
                    </section>
                  </div>
                  </article>
            
                
                </div>
                <!-- DASHBOARD CHARTS ? TRENDS END -->
                <!-- Data Display START -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <!-- Start of data display Portion -->                    
                  <article class="description-content"> 
                  <div class="container" style="background-color:white;">                 
                    
                    <section class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <h5><strong>Subset of Sample Data</strong></h5>
                        <!-- display data on user request -->
                        <p>This section shows small subset of sample data used for arriving at prediction results.  
                          <!-- <br> Owing to the size of the data, it is not automatically displayed. To view the data please click the button below</p> -->
                          <!-- <hr/> -->
                          <!-- data display -->
                          <div class="row">
                              <div class="w-75 col-xs-12 col-sm-12 col-md-12">
<!--                                   
                                  <p id="pageDetails"></p> -->
                                  <!-- <p><form>
                                      <button id="data-btn-first" type="submit" class="btn btn-sm" 
                                      style="font-size:10px; background-color: steelblue;color:white;">< First ></First></button>
                                      <button id="data-btn-prev" type="submit" class="btn btn-sm" 
                                      style="font-size:10px; background-color: steelblue;color:white;">< Prev</button>
                                      <button id="data-btn-next" type="submit" class="btn btn-sm" 
                                style="font-size:10px; background-color: steelblue;color:white;">Next ></button>
                                <button id="data-btn-last" type="submit" class="btn btn-sm" 
                                      style="font-size:10px; background-color: steelblue;color:white;">< Last ></Last></button>
                                  </form></p> -->
                                  <div id="dataTbl" class="table-responsive" style="overflow: scroll;height: 275px;"></div>
                                  <!--  class="table-responsive" style="overflow: scroll;" -->
                              </div>
                          </div>
                        </div>
                        
                    </section>
                  </div>
                  </article>
             </div>
             <!-- DATA DISPLAY END -->
            </div>
              <!-- END OF TAB CONTENTS -->
            
          </div>
         
        </div>
    </div>
<!-- NAV TABS END -->


   
    <!-- End of container --> 


    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>
    
    <!-- BOOTSTRAP SCRIPT  -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <!-- D3 & Plotly -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  <!-- DataTable -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
 
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

    <script>$(document).ready(function () {
      $('#sampMetaData').DataTable({
      "scrollX": true,
      "scrollY": 200,
      });
      $('.dataTables_length').addClass('bs-select');
      });</script>

    <!-- custom JS  -->
    
    <script type="text/javascript" src="static/js/main.js"></script>
</body>

</html>